In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('Train.csv')
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [3]:
df.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

In [4]:
df.describe()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
count,29451.000000,29451.000000,29451.000000,2.945100e+04,29451.000000,29451.000000,29451.000000,29451.000000,29451.000000
mean,0.179756,0.317918,2.392279,1.980217e+04,0.820244,0.929578,21.300255,76.837695,142.898746
std,0.383991,0.465675,0.879091,1.901335e+06,0.383991,0.255861,6.205306,10.557747,656.880713
min,0.000000,0.000000,1.000000,3.000000e+00,0.000000,0.000000,-37.713008,-121.761248,0.250000
25%,0.000000,0.000000,2.000000,9.000211e+02,1.000000,1.000000,18.452663,73.798100,38.000000
50%,0.000000,0.000000,2.000000,1.175057e+03,1.000000,1.000000,20.750000,77.324137,62.000000
75%,0.000000,1.000000,3.000000,1.550688e+03,1.000000,1.000000,26.900926,77.828740,100.000000
max,1.000000,1.000000,20.000000,2.545455e+08,1.000000,1.000000,59.912884,152.962676,30000.000000

In [5]:
df.shape

(29451, 12)

In [6]:
df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [7]:
df1=df.drop(['POSTED_BY','ADDRESS','READY_TO_MOVE'],axis=1)

In [8]:
df1.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,0,0,2,BHK,1300.236407,1,12.969910,77.597960,55.0
1,0,0,2,BHK,1275.000000,1,12.274538,76.644605,51.0
2,0,0,2,BHK,933.159722,1,12.778033,77.632191,43.0
3,0,1,2,BHK,929.921143,1,28.642300,77.344500,62.5
4,1,0,2,BHK,999.009247,1,22.592200,88.484911,60.5

In [9]:
df1['BHK_NO.'].value_counts()

2     13324
3     10546
1      3574
4      1723
5       190
6        52
7        11
8        10
15        4
10        4
20        4
12        3
9         3
13        1
11        1
17        1
Name: BHK_NO., dtype: int64

In [10]:
df['POSTED_BY'].value_counts()

Dealer     18291
Owner      10538
Builder      622
Name: POSTED_BY, dtype: int64

In [11]:
df1=pd.get_dummies(data=df1,columns=['BHK_OR_RK'],drop_first=True)

In [12]:
df1.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),BHK_OR_RK_RK
0,0,0,2,1300.236407,1,12.969910,77.597960,55.0,0
1,0,0,2,1275.000000,1,12.274538,76.644605,51.0,0
2,0,0,2,933.159722,1,12.778033,77.632191,43.0,0
3,0,1,2,929.921143,1,28.642300,77.344500,62.5,0
4,1,0,2,999.009247,1,22.592200,88.484911,60.5,0

In [13]:
X=df1.drop('TARGET(PRICE_IN_LACS)',axis=1)
y=df1['TARGET(PRICE_IN_LACS)']

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc=StandardScaler()

In [16]:
X_sc=pd.DataFrame(sc.fit_transform(X),columns=X.columns)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr=LinearRegression()

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_sc, y, test_size=0.30, random_state=42)

In [21]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
from sklearn.metrics import r2_score,mean_squared_error,mean_squared_log_error

In [23]:
pred_lr=abs(lr.predict(X_test))

In [24]:
r2_score(y_test,pred_lr)

0.32796460939634664

In [25]:
np.sqrt(mean_squared_error(y_test,pred_lr))

560.7451786867617

In [26]:
mean_squared_log_error(y_test, pred_lr)**0.5

1.038824305804493

In [27]:
y.sort_values()

14036        0.25
27192        0.29
20910        0.48
3882         0.85
8347         1.00
           ...
10637     9910.00
5967      9990.00
15724    25000.00
10745    28000.00
11238    30000.00
Name: TARGET(PRICE_IN_LACS), Length: 29451, dtype: float64

In [28]:
a=pd.Series(pred_lr)

In [29]:
a.sort_values()

4997        0.183971
6802        0.280742
5393        0.630780
5740        1.037563
3227        1.294143
            ...
4977      913.729518
7789      967.128475
2569     1223.825721
2881     9010.996529
2904    20911.178849
Length: 8836, dtype: float64

### Ensemble models

In [30]:
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor

In [31]:
rf=RandomForestRegressor()

In [32]:
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [33]:
pred_rf=abs(rf.predict(X_test))

In [34]:
r2_score(y_test,pred_rf)

0.7931268302849159

In [35]:
np.sqrt(mean_squared_error(y_test,pred_rf))

311.1154368604536

In [36]:
np.sqrt(mean_squared_log_error(y_test, pred_rf))

0.39009370617321765

In [37]:
ada=AdaBoostRegressor()

In [38]:
ada.fit(X_train,y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)

In [39]:
pred_ada=abs(ada.predict(X_test))

In [40]:
r2_score(y_test,pred_ada)

0.7773562511913902

In [41]:
np.sqrt(mean_squared_error(y_test,pred_ada))

322.75630057102364

In [42]:
np.sqrt(mean_squared_log_error(y_test, pred_ada))

1.2351457752311787

In [43]:
gbc=GradientBoostingRegressor()

In [44]:
gbc.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [45]:
pred_gbc=abs(gbc.predict(X_test))

In [46]:
r2_score(y_test,pred_gbc)

0.8169989438913876

In [47]:
np.sqrt(mean_squared_error(y_test,pred_gbc))

292.61479039586175

In [48]:
np.sqrt(mean_squared_log_error(y_test, pred_gbc))

0.5157721474561437

In [49]:
import xgboost as xgbc

In [50]:
xgbc=xgbc.XGBRegressor()

In [51]:
xgbc.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [52]:
pred_xgbc=abs(xgbc.predict(X_test))

In [53]:
r2_score(y_test,pred_xgbc)

0.8230829981152126

In [54]:
np.sqrt(mean_squared_error(y_test,pred_xgbc))

287.70953923056874

In [55]:
np.sqrt(mean_squared_log_error(y_test, pred_xgbc))

0.4053596432058073

In [56]:
df_t=pd.read_csv('Test.csv')

In [57]:
df_t.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE
0,Owner,0,0,1,BHK,545.171340,1,1,"Kamrej,Surat",21.262000,73.047700
1,Dealer,1,1,2,BHK,800.000000,0,0,"Panvel,Lalitpur",18.966114,73.148278
2,Dealer,0,0,2,BHK,1257.096513,1,1,"New Town,Kolkata",22.592200,88.484911
3,Dealer,0,0,3,BHK,1400.329489,1,1,"Kalwar Road,Jaipur",26.988300,75.584600
4,Owner,0,0,1,BHK,430.477830,1,1,"Mai Mandir,Nadiad",22.700000,72.870000

In [58]:
df1_t=df_t.drop(['POSTED_BY','ADDRESS','READY_TO_MOVE'],axis=1)

In [59]:
df1_t.head()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,RESALE,LONGITUDE,LATITUDE
0,0,0,1,BHK,545.171340,1,21.262000,73.047700
1,1,1,2,BHK,800.000000,0,18.966114,73.148278
2,0,0,2,BHK,1257.096513,1,22.592200,88.484911
3,0,0,3,BHK,1400.329489,1,26.988300,75.584600
4,0,0,1,BHK,430.477830,1,22.700000,72.870000

In [60]:
df1_t=pd.get_dummies(data=df1_t,columns=['BHK_OR_RK'],drop_first=True)

In [61]:
X_sc_t=pd.DataFrame(sc.fit_transform(df1_t),columns=df1_t.columns)

In [62]:
pred_rf_t=abs(rf.predict(X_sc_t))

In [63]:
dataframe=pd.DataFrame()

In [64]:
dataframe['TARGET(PRICE_IN_LACS)']=pd.Series(pred_rf_t)

In [65]:
dataframe

       TARGET(PRICE_IN_LACS)
0                  11.321000
1                  38.269000
2                 140.848000
3                 205.404000
4                  13.590667
...                      ...
68715             168.876000
68716              66.400000
68717            8926.100000
68718             113.022000
68719            2555.100000

[68720 rows x 1 columns]

In [66]:
dataframe.to_csv (r'C:\Users\lenovo\Desktop\Python\Machine hack\House price prediction\Participants_Data_HPP\Submission.csv', index = False)